/*Media break point*/
$mm-com-mobile-breakpoint: 425px;
$mm-com-large-mobile-breakpoint: 600px;
$mm-com-tablet-breakpoint: 840px;
$mm-com-desktop-breakpoint: 1280px;
$mm-com-large-desktop-breakpoint: 1440px;
$mm-com-fullhd-desktop-breakpoint: 1920px;